@import 'variables';
@import 'shared';

.filters {
  @include white-box(false, 32px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tournament-page__full-official .filters {
  margin-top: 8px;
}

select.filter {
  color: $black;
  margin: 4px 8px;
  padding: 4px 8px;
}

.filters__reset-link {
  color: $green;
  cursor: pointer;
  margin-left: auto;
}
