@use 'variables';
@use 'shared';

.filters {
  @include shared.white-box(false, 16px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tournament-page__full-official .filters {
  margin-top: 8px;
}

select.filter {
  color: variables.$black;
  margin: 4px 8px;
  padding: 4px 8px;
}

.filters__links {
  margin-left: auto;
  display: flex;
  column-gap: 8px;

  &__link {
    color: variables.$green;
    cursor: pointer;
  }
}
