@use "variables";

.IframeTitle {
  text-align: center;

  a {
    color: variables.$white;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
