@import 'variables';
@import 'shared';

.matches {
  margin-top: 16px;
}

.match-time-row {
  margin-top: 16px;

  &--new-date {
    margin-top: 48px;
  }
}

.match {
  @include white-box(false);

  &--editable {
    cursor: pointer;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__teams {
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
  }

  &__teams-separator, &__goals-separator {
    margin: 0 4px;
  }

  &__playoff-title {
    margin-right: 4px;
  }

  &__start-time {
    color: $green;
    font-weight: 600;
    margin-right: 4px;
  }

  &__result {
    color: $green;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
    margin-left: 4px;
  }

  &__no-result {
    color: $red;
  }

  &__result-fields {
    text-align: right;
  }

  &__goals-field {
    font-size: 14px;
    text-align: center;
    padding: 4px;
    width: 20px;

    @media only screen and (min-width: 48em) {
      width: 24px;
    }

    @media only screen and (min-width: 64em) {
      width: 32px;
    }
  }

  &__penalties {
    text-align: right;
  }

  &__buttons {
    margin-top: 4px;
    text-align: right;

    .button:first-child {
      margin-right: 8px;
    }
  }

  &--editable {
    @include white-box(true);
  }
}
