@import 'variables';
@import 'shared';

.group-results {
  margin-top: 16px;

  &--1 {
    .group-results__group {
      max-width: 800px;
    }
  }
}

.group-results__group {
  @include white-box();

  table {
    max-width: 600px;
    width: 100%;
  }

  th {
    font-weight: 600;
  }

  th, td {
    padding: 2px 4px;
    text-align: center;
  }

  th:first-child, td:first-child {
    padding: 2px;
  }

  th.group-results__title {
    font-size: 16px;
    font-weight: 600;
  }

  .group-results__team-name {
    text-align: left;
  }
}

.group-results__team--active {
  color: $green;
  font-weight: 600;
}

.management-link {
  @include white-box();

  a {
    color: $green;
  }
}
