@use 'variables';

@mixin white-box($clickable: false, $marginTop: 8px) {
  background-color: variables.$white;
  border-radius: 4px;
  color: variables.$black;
  margin-top: $marginTop;
  padding: 8px;
  -webkit-tap-highlight-color: transparent;

  @if $clickable == true {
    cursor: pointer;

    &:active {
      background-color: variables.$white-60;
    }
  }
}
