@import 'variables';
@import 'shared';

.sponsors {
  @include white-box(false);
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;

  img {
    height: 120px;
    margin: 8px;

    &.intersport {
      height: 90px;

      @media only screen and (min-width: 48em) {
        height: 120px;
      }
    }

    &.varte {
      height: 100px;

      @media only screen and (min-width: 48em) {
        height: 120px;
      }
    }
  }
}
