@import 'variables';

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 26px;
  margin-top: 8px;

  .badge {
    margin: 8px 0;
  }

  @media only screen and (min-width: 48em) {
    display: flex;

    .badge {
      margin: 0 8px;
    }
  }

  &__emoji {
    text-decoration: none;

    &--loading {
      animation: spin 2s linear infinite;
    }
  }

  &__text {
    font-weight: 600;
    margin-left: 8px;
  }

  &__club-logo {
    height: 26px;
    margin-left: 6px;
  }
}

.sub-title {
  font-size: 16px;
  margin-top: 4px;

  a.sub-title__location {
    color: $white;
    text-decoration: underline;
  }
}

.title-1, .title-2 {
  font-weight: 600;
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.title-1 {
  font-size: 22px;
  line-height: 20px;

  .badge {
    margin-left: 8px;
  }
}

.title-2 {
  font-size: 20px;
}
