@use 'variables';

.Toasts {
  position: fixed;
  bottom: 0;
  left: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Toast {
  position: absolute;
  transition-property: bottom, opacity;
  transition-duration: 200ms;
  background-color: #fff;
  color: variables.$black;
  padding-left: 16px;
  padding-right: 16px;
  border-style: solid;
  border-color: variables.$gray;
  box-shadow: variables.$gray 2px 2px 8px 2px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 32px);
  white-space: nowrap;
  overflow: hidden;

  &__age-group {
    font-size: 16px;
  }

  &__teams {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    max-width: 100%;
    overflow: hidden;

    .team {
      max-width: 50%;
      overflow: hidden;
    }
  }

  &__goals {
    color: variables.$green;
    font-size: 18px;
    font-weight: 600;
    display: flex;
  }

  &__separator {
    margin: 0 4px;
  }

  &__penalties {
    margin-left: 4px;
  }
}
