$white: rgba(255, 255, 255, 0.9);
$white-60: rgba(255, 255, 255, 0.6);
$gray: rgb(122, 122, 122);
$black: rgba(0, 0, 0, 0.8);
$green: rgba(0, 128, 0, 0.8);
$yellow: rgba(255, 128, 0, 0.8);
$red: rgba(255, 0, 0, 0.9);
$red-light: #ff554b;
