<div class="title">
  <span class="title__emoji">⚽️</span>
  <span class="title__text">fudisturnaus.com - turnausta ei löytynyt</span>
</div>
<div class="tournament-links">
  <a class="tournament-link" href="/"><span class="tournament-link__tournament-name">Etusivulle</span></a>
</div>
