@import 'shared';

.admin-tournament-page__section {
  @include white-box();

  a {
    color: $green;
  }
}

.admin-tournament-page__section-title {
  font-size: 14px;
  margin: 8px;
}

.admin-item {
  margin: 8px;

  .admin-item__title {
    color: $green;

    span {
      cursor: pointer;
    }
  }
}

.new-club-form {
  margin-top: 8px;
}
