@import 'variables';

body {
  background: url("../images/grass.jpg") saddlebrown repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;

  .title__emoji {
    text-decoration: none;
    padding-right: 8px;
  }
}

.sub-title {
  font-size: 14px;
  margin-top: 4px;
}

.loading {
  margin-top: 16px;
}

.error {
  color: $red;
}

.message {
  background-color: $white;
  border-radius: 4px;
  color: $white;
  margin-top: 8px;
  padding: 8px;
}

.message--error {
  background-color: #ff554b;
}
