@import 'variables';

body {
  background: url("../images/grass.jpg") saddlebrown repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

li:before {
  content: '⚽';
}

li {
  list-style: none;
  margin-bottom: 8px;
}

.loading {
  margin-top: 16px;
}

.error {
  color: $red;
}

.message {
  background-color: $white;
  border-radius: 4px;
  color: $white;
  margin-top: 16px;
  padding: 8px;
}

.message--standalone {
  margin-top: 0;
}

.message--error {
  background-color: #ff554b;
}

.message--success {
  background-color: $green;
}

.footer {
  opacity: 0.8;
  width: 100%;
  margin-top: 32px;
  text-align: center;
  a {
    color: $white;
  }
}
