@import 'variables';

body {
  background: url("../images/grass.jpg") saddlebrown repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

li:before {
  content: '⚽';
}

li {
  list-style: none;
  margin-bottom: 8px;
}

.loading {
  margin-top: 16px;
}

.error {
  color: $red;
}

.message {
  background-color: $white;
  border-radius: 4px;
  color: $white;
  margin-top: 16px;
  padding: 8px;
}

.message--standalone {
  margin-top: 0;
}

.message--error {
  background-color: $red-light;
}

.message--warning {
  background-color: $yellow;
}

.message--success {
  background-color: $green;
}

.footer {
  opacity: 0.8;
  width: 100%;
  margin-top: 32px;
  text-align: center;
  a {
    color: $white;
  }
}

.badge {
  border: 1px solid $white;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  margin: 0 8px;
}

.badge--0 {
  background-color: $red-light;
}

.badge--1 {
  background-color: $yellow;
}

.badge--2 {
  background-color: $green;
}
