@import 'shared';
$inputHeight: 16px;

.login-form {
  @include white-box();
}

.form__field {
  .label {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: $inputHeight;
    padding: 8px;
    width: 200px;
  }
}

.button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 16px;
}

.form__buttons {
  .button {
    margin-right: 8px;
  }
}

.button--primary {
  border: 1px solid $green;
}

.button--danger {
  border: 1px solid $red;
}

.form--vertical {
  .form__field, .form__buttons {
    margin-top: 8px;
  }

  .form__field {
    .label {
      margin-top: 8px;
    }

    input {
      margin-top: 8px;
    }
  }

  .form__buttons {
    margin-top: $inputHeight;
  }
}

.form--horizontal {
  .form__field, .form__buttons {
    display: inline-block;
  }

  .form__field {
    margin-right: 8px;
  }
}

.form-error {
  color: $red;
  font-weight: 600;
}
