@import 'shared';
$inputHeight: 16px;

.login-form {
  @include white-box();
}

.form__intro {
  margin: 8px 0 16px;
}

.form__field {
  .label {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: $inputHeight;
    padding: 8px;
    width: 200px;
  }

  input[type='checkbox'] {
    width: 16px;
  }

  select {
    height: 34px;
    -webkit-appearance: menulist-button;
  }
}

.form__field--time {
  input {
    width: 60px;
  }
}

.official-link {
  margin: 8px;

  .official-link__description {
    margin: 8px 0 0;
  }
}

.button {
  background-color: #eee;
  border: 1px solid $black;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-appearance: none;
}

.form__buttons {
  .button {
    margin-right: 8px;
  }
}

.button--primary {
  border: 1px solid $green;
}

.button--primary:disabled {
  border: 1px solid $gray;
  cursor: not-allowed;
}

.button--danger {
  border: 1px solid $red;
}

.form--vertical {
  .form__field, .form__buttons {
    margin-top: 8px;
  }

  .form__field {
    .label, input, select {
      margin-top: 8px;
    }
  }

  .form__buttons {
    margin-top: $inputHeight;
  }
}

.form--horizontal {
  .form__field, .form__buttons {
    display: inline-block;
  }

  .form__field--hidden {
    display: none;
  }

  .form__field {
    margin: 8px 8px 8px 0;
  }

  .form__buttons {
    margin: 8px 0;
  }
}

.form-error {
  color: $red;
  font-weight: 600;
}

textarea {
  padding: 8px;
  width: 95%;
}

@media only screen and (min-width: 48em) {
  textarea {
    width: auto;
  }
}
