@import 'variables';
@import 'shared';

.info-box {
  @include white-box(false);
}

.info-box__link {
  color: $green;
  cursor: pointer;
  text-decoration: none;
}

.tournament-links {
  margin-top: 16px;
}

a.tournament-link {
  @include white-box(true);
  display: block;
  text-decoration: none;

  .tournament-link__tournament-name {
    color: $green;
    font-size: 14px;
    font-weight: 600;
  }
}
