@import 'variables';
@import 'shared';

.info-box {
  @include white-box(false);
}

.info-box__link {
  color: $green;
  cursor: pointer;
  text-decoration: none;
}

.tournament-links {
  margin-top: 16px;
}

.tournament-link {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__club-logo {
    img {
      height: 30px;
      margin-right: 6px;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
  }

  &__tournament-name {
    color: $green;
    font-size: 14px;
    font-weight: 600;
  }
}

a.tournament-link {
  @include white-box(true);
  text-decoration: none;

  &:hover {
    background-color: $green;
    color: $white;

    .tournament-link__tournament-name {
      color: $white;
    }
  }
}
