@import 'variables';
@import 'shared';

.tournament-links {
  margin-top: 16px;
}

a.tournament-link {
  @extend %white-box;
  display: block;
  text-decoration: none;

  .tournament-link__tournament-name {
    font-size: 14px;
    font-weight: 600;
  }
}
