@import 'shared';

.tournament-management__section {
  @include white-box();

  a {
    color: $green;
  }
}

.tournament-management__section--lottery {
  .group-results__group {
    table {
      width: auto;
    }

    input {
      width: 100px;
    }
  }

  .form__buttons {
    margin-top: 8px;
  }
}

.tournament-management__section-title {
  font-size: 14px;
  margin: 8px;
}

.tournament-item {
  margin: 8px;

  .tournament-item__title {
    color: $green;

    span {
      cursor: pointer;
    }
  }
}

.new-club-form {
  margin-top: 8px;
}

.back-link {
  text-decoration: none;
}
