@import 'variables';
@import 'shared';

.group-stage-matches {
  margin-top: 16px;
}

.match-time-row {
  margin-top: 16px;
}

.group-stage-match {
  @extend %white-box;

  .group-stage-match--editable {
    cursor: pointer;
  }

  .group-stage-match__row1 {
    display: flex;
    flex-direction: row;
  }

  .group-stage-match__matchInfo {
    flex-grow: 1;
  }

  .group-stage-match__teams {
    font-size: 14px;
    font-weight: 600;
  }

  .group-stage-match__startTime {
    margin-top: 4px;
  }

  .group-stage-match__result {
    color: $green;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }

  .group-stage-match__noResult {
    color: $red;
  }

  .group-stage-match__resultFields {
    text-align: right;
  }

  .group-stage-match__buttons {
    margin-top: 4px;
    text-align: right;
  }

  .group-stage-match__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
    margin-left: 16px;
    outline: none;
  }

  .group-stage-match__error {
    font-weight: 600;
  }
}

.group-stage-match--editable {
  cursor: pointer;
}

.group-stage-match--editable:active {
  @extend %white-box-active;
}

.goals-field {
  font-size: 14px;
  text-align: center;
  width: 20px;
}

.goals-separator {
  margin: 0 4px;
}
