@import 'variables';
@import 'shared';

.matches {
  margin-top: 16px;
}

.match-time-row {
  margin-top: 16px;
}

.match-time-row--new-date {
  margin-top: 48px;
}

.match {
  @include white-box(false);

  .match--editable {
    cursor: pointer;
  }

  .match__row1 {
    display: flex;
    flex-direction: row;
  }

  .match__matchInfo {
    flex-grow: 1;
  }

  .match__teams {
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
  }

  .match__teams-separator, .match__goals-separator {
    margin: 0 4px;
  }

  .match__start-time {
    color: $green;
    font-weight: 600;
    margin-right: 4px;
  }

  .match__result {
    color: $green;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
  }

  .match__no-result {
    color: $red;
  }

  .match__result-fields {
    text-align: right;
  }

  .match__goals-field {
    font-size: 14px;
    text-align: center;
    width: 20px;

    @media only screen and (min-width: 48em) {
      width: 24px;
    }

    @media only screen and (min-width: 64em) {
      width: 32px;
    }
  }

  .match__penalties {
    text-align: right;
  }

  .match__buttons {
    margin-top: 4px;
    text-align: right;
  }

  .match__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
    margin-left: 16px;
    outline: none;
  }
}

.match--editable {
  @include white-box(true);
}
