@import 'variables';
@import 'shared';

.group-results {
  margin-top: 16px;
}

.group-results__group {
  @include white-box();

  table {
    width: 100%;
  }

  th {
    font-weight: 600;
  }

  th, td {
    padding: 2px 4px;
    text-align: center;
  }

  th:first-child, td:first-child {
    text-align: left;
  }
}

.group-results__team--active {
  color: $green;
  font-weight: 600;
}

.management-link {
  @include white-box();

  a {
    color: $green;
  }
}
