@import 'variables';
@import 'shared';

.result-section-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
}

.group-results {
  margin-top: 16px;
}

.group-results__group {
  @include white-box();

  th {
    font-weight: 600;
  }

  th, td {
    padding: 2px 4px;
    text-align: center;
  }

  th:first-child, td:first-child {
    text-align: left;
  }
}

.group-results__team--active {
  color: $green;
  font-weight: 600;
}
