$white: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 0.8);

body {
  background: url("./images/grass.jpg") #5acd3d repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
}

.Title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
}

.SubTitle {
  font-size: 14px;
  margin-top: 4px;
}

.FiltersTitle {
  cursor: pointer;
  margin-top: 16px;

  .FiltersTitle-arrow {
    padding-left: 4px;
  }
}

.Filters {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

select.Filter {
  color: $black;
  margin: 4px 0;
}

.Results {
  margin-top: 16px;

  th, td {
    padding: 2px 4px 2px 0;
    text-align: left;
  }
}

.TournamentLinks {
  margin-top: 16px;
}

a.TournamentLink {
  background-color: $white;
  color: $black;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  padding: 8px;
  border-right: 4px;

  .TournamentLink-tournamentName {
    font-size: 14px;
    font-weight: 600;
  }
}
