$white: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 0.8);

body {
  background: url("./images/grass.jpg") #5acd3d repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
}

select {
  color: $white;
}

.Title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
}

.TournamentLinks {
  margin-top: 16px;
}

a.TournamentLink {
  background-color: $white;
  color: $black;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  padding: 8px;
  border-right: 4px;

  .TournamentLink-tournamentName {
    font-size: 14px;
    font-weight: 600;
  }
}
