$white: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 0.8);
$green: rgba(0, 128, 0, 0.8);
$red: rgba(255, 0, 0, 0.9);

body {
  background: url("./images/grass.jpg") #5acd3d repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
}

.sub-title {
  font-size: 14px;
  margin-top: 4px;
}

.filters-title {
  cursor: pointer;
  margin-top: 16px;

  .filters-title__arrow {
    padding-left: 4px;
  }
}

.filters {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

select.filter {
  color: $black;
  margin: 4px 0;
}

.results {
  margin-top: 16px;

  th, td {
    padding: 2px 4px 2px 0;
    text-align: left;
  }
}

.group-stage-match {
  background-color: $white;
  color: $black;
  cursor: pointer;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;

  .group-stage-match__row1 {
    display: flex;
    flex-direction: row;
  }

  .group-stage-match__matchInfo {
    flex-grow: 1;
  }

  .group-stage-match__teams {
    font-size: 14px;
    font-weight: 600;
  }

  .group-stage-match__startTime {
    margin-top: 4px;
  }

  .group-stage-match__result {
    color: $green;
    font-size: 16px;
    font-weight: 600;
  }

  .group-stage-match__noResult {
    color: $red;
  }

  .group-stage-match__resultFields {
    text-align: right;
  }

  .group-stage-match__buttons {
    margin-top: 4px;
    text-align: right;
  }

  .group-stage-match__button {
    font-size: 16px;
    padding: 0;
    margin-left: 16px;
  }

  .group-stage-match__error {
    font-weight: 600;
  }
}

.goals-field {
  font-size: 14px;
  text-align: center;
  width: 20px;
}

.goals-separator {
  margin: 0 4px;
}

.error {
  color: $red;
}

.tournament-links {
  margin-top: 16px;
}

a.tournament-link {
  background-color: $white;
  color: $black;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;

  .tournament-link__tournament-name {
    font-size: 14px;
    font-weight: 600;
  }
}
