body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
  margin-top: 0;
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
  width: 200px;
}

td {
  padding: 4px 32px 4px 0;
  white-space: nowrap;
}
