<!DOCTYPE html>
<html>
<head>
  <title>Lasku</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Mulish" rel="stylesheet">
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>

<body>
<%= yield %>
</body>
</html>
